# vae config
{
    "algorithm": "grid",

    "parameters": {
        "hidden_dim": {"type": "discrete", "values": [50, 100, 150, 200]},
        "sparse_normalization": {"type": "discrete", "values": [False]},
        "anneal_cap": {"type": "discrete", "values": [0.3, 0.5]},
        "total_anneal_steps": {"type": "discrete", "values": [0]},
        "dropout_ratio": {"type": "discrete", "values": [0.2]},

        "learning_rate": {"type": "discrete", "values": [1e-2, 1e-3, 1e-4]},
        "weight_decay": {"type": "discrete", "values": [0, 1e-5, 1e-4]},
        "batch_size": {"type": "discrete", "values": [800]},
        "test_batch_size": {"type": "discrete", "values": [800]},
        "num_epochs": {"type": "discrete", "values": [5000]},
        "early_stop": {"type": "discrete", "values": [True]},
        'patience': {"type": "discrete", "values": [50]}
        
    },

    # Declare what we will be optimizing, and how:
    "spec": {
        "randomize": True,
        "metric": "rmse"
    },
}
